@import "tailwindcss";

:root {
    /* --background : #fff;
  --foreground: #000; */
    --primary: #cb1919;
    --faded-text: #9ca3af;
}

@theme inline {
    --color-primary: var(--primary);
    --color-faded-text: var(--faded-text);

    --font-lato400: var(--font-lato400);
    --font-lato900: var(--font-lato900);
    --font-montserrat400: var(--font-montserrat400);
    --font-afacad700: var(--font-afacad700);
    --font-dmSans400: var(--font-dmSans400);
    --font-manrope400: var(--font-manrope400);
    --font-plusJakartaSans400: var(--font-plusJakartaSans400);
}

.tag {
    @apply text-primary font-lato900 inline-block rounded-full bg-red-200 px-4 py-2 text-sm uppercase;
}

h2 {
    @apply font-lato900 text-2xl font-bold;
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
    /* background: var(--background);
  color: var(--foreground); */
}
/* 
* {
  outline: 1px solid red;
} */